doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Katex to html
form(method='post')
  textarea#data(name='data' cols='50' rows='10' placeholder='Enter katex text ...')
  br
  button(type='submit') Convert